.lang-links__link {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    text-decoration: none;
    text-align: right;

    margin: 0 0 0 18px;
    color: #FFFFFF;
    transition: opacity .5s ease-out;
    opacity: 1;
}

@media screen and (max-width: 320px) {
    .lang-links__link {
        font-size: 18px;
        line-height: 20px;
    }
}

.lang-links__link:hover {
    opacity: .7;
}